/* 
    Document   : kippis
    Created on : 29.5.2013, 13:12:30
    Author     : Juha-Pekka Rajaniemi <juha.rajaniemi at gmail.com>
    Description:
        Kippis style.

        Colour palette: https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=2&name=My%20Kuler%20Theme&mode=hsv&rgbvalues=0.7932164279940307,0.9201887967696589,1,0.48950209975516257,0.8029657227126004,1,0.8932164279940307,0.9587852879977131,1,0.96,0.9327137773631192,0.8945130656715338,1,0.6811981022613891,0.23487544542789074
*/

html, body  {
    margin: 0;
    /* correct bg color */
    background-color: hsl(204,11,100);
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    padding: 1%;
}

header {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #FFAF3C;
    padding: 25px 0px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 40%;
    margin: 5%;
    background-color: #152255;
    height: 40px;
    line-height: 40px;
    float: left;
    display: block;
}

section {
    background-color: #F5EEE4;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 10px;
    border-top: 6px solid #FFAF3C;
}

section.drink {
    clear: both;
}

.drinktypescontainer {
    width: 100%;
    overflow: hidden;
}

.drinktypesoutercontainer {
    position: relative;
}

.drinktypesoutercontainer .btnless, .drinktypesoutercontainer .btnmore {
    position: absolute;
    font-size: 32px;
    top: 20px;
    left: 5%;
    cursor: pointer;
}

.drinktypesoutercontainer .btnmore {
    left: auto;
    right: 7%;
}

.drinktypes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300%;
}

.drinktypes li {
    float: left;
    width: 33.3333%;
    text-align: center;
    font-size: 40px;
}

.drinktypes li span {
    display: block;
    padding: 20px 10px;
}

.slider {
    margin: 20px 0px;
}

.slider div {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
}

.slider div.amount {
    width: 70%;
}

.slider div.btnless, .slider div.btnmore {
    width: 14%;
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

button.add {
    margin: 10% 10%;
    padding: 20px 0px;
    width: 80%;
    background-color: #68aa8f;
    border: none;
    color: white;
    font-size: 32px;
    border-radius: 3px;
    cursor: pointer;
}

button.add:hover {
    background-color: #00cc33;
}

.gender {
    text-align: center;
}

.gender span {
    margin: 5px;
    display: inline-block;
    height: 100px;
    width: 100px;
    font-size: 40px;
    line-height: 100px;
    font-weight: bold;
    background-color: #E4F4FF;
    border-radius: 5px;
    cursor: pointer;
}

.gender span.selected {
    background-color: #FFAE3C;
}

canvas {
    /*width: 100%;*/
}

 @media only screen and (min-width: 640px){
     header {
         text-align: left;
         font-size: 72px;
     }
     
     section.graph {
         float: right;
         width: 73%;
     }
     
     section.drink {
         width: 20%;
         float: left;
     }
     
     section.settings {
         width: 20%;
         float: left;
     }
 }