/* 
    Document   : kippis
    Created on : 29.5.2013, 13:12:30
    Author     : Juha-Pekka Rajaniemi <juha-pekka.rajaniemi at yle.fi>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

